body{
    background-color:gray;
    font-family: sans-serif;
    margin:0px auto;
    max-width:950px;
    border:solid;
    border-color:white;
    
}

header{
    background-color:rgb(64, 64, 131);
    color:white;
    border-radius:21em 21em 0em 0em;
    margin-bottom:2px;
    
}

header h1{
    font-size:70px;
    margin:0px;
    text-align:center;
}

h2{
    font-size:22px;
    margin:0px;
    text-align:center;
    color:white;
}

h3{
    font-size:16px;
    margin:0px;
    text-align:center;
    color:white;
}

nav{
    float:left;
    width:25%;
    display:block;
}

nav h3{
    background-color:rgb(64, 64, 131);
    border-radius:2em 21em;
}



nav a:link
{
    display:block;
    border-bottom:2px solid white;
    text-decoration:none;
    padding:9px;
    margin:4px;
    color:rgb(64, 64, 131);
}

nav a:visited
{
    display:block;
    border-bottom:2px solid white;
    text-decoration:none;
    padding:9px;
    margin:4px;
    color:Purple;
}

nav a:hover
{
    background-color:rgb(64, 64, 131);
    color:White;
    font-weight:bold;
}

section
{
    width:50%;
    float:left;
}

article
{
    background-color:#eee;
    padding:10px;
    margin:10px;
    border-radius:10px;
   -moz-border-radius:10px;
   -o-border-radius:10px;
   -webkit-border-radius:10px; 
}

article header
{
    border-radius:2em 2em 0em 0em;
}

article h1
{
    font-size:18px;
    margin-bottom:10px;
    padding:4px;
}

aritcle footer 
{
    border-radius:0em 0em 2em 2em;
    margin-top:10px;   
}

aside
{
    width:25%;
    float:left; 
}

aside h3
{
    background-color:rgb(64, 64, 131);
    border-radius:2em 21em;
    
}

aside p
{
    margin:5px;
    color:white;
}

footer
{
    background-color:rgb(64, 64, 131);
    clear:both;
    padding:5px;
    border-radius:0em 0em 25px 25px;
}

footer h2
{
    font-size: 14px;
    margin: 2px;    
}

